

/* image inside TV */
.screen {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}


body {
  background: black;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  min-height: 100vh;
  overflow-y: auto;
}

#subtitles {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;

  font-family: monospace;
  color: #00ff9f;
  font-size: 22px;
  text-transform: uppercase;

  text-shadow: 0 0 10px #00ff9f;
  pointer-events: none;
}

/* base button */
.btn {
  background: transparent;
  border: 1px solid #00ff9f;
  color: #00ff9f;
  padding: 10px 16px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}

/* glow effect */
.btn:hover {
  background: #00ff9f;
  color: black;
  box-shadow: 0 0 15px #00ff9f;
  transform: scale(1.05);
}

/* glitch flicker */
.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.1),
    transparent
  );
  transform: translateX(-100%);
}

.btn:hover::after {
  animation: glitch 0.6s infinite;
}

@keyframes glitch {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.panel {
  display: flex;
  gap: 12px;
  
}

.tv {
  position: relative;
  width: min(90vw, 800px);
  box-shadow: 0 0 30px #00ff9f33;
  background: black;
  overflow: visible;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 40px 0;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.danger-btn {
  background: transparent;
  border: 2px solid #ff2a2a;
  color: #ff2a2a;

  padding: 12px 26px;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;

  transition: all 0.2s ease;
  box-shadow: 0 0 10px rgba(255, 42, 42, 0.2);
}

.danger-btn:hover {
  background: #ff2a2a;
  color: black;
  box-shadow:
    0 0 12px #ff2a2a,
    0 0 28px rgba(255, 42, 42, 0.5);

  transform: scale(1.03);
}