.no-audio {
  color: red;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;

  text-shadow:
    0 0 6px rgba(106,255,255,0.7),
    0 0 16px rgba(106,255,255,0.4);

  animation: flicker 1.2s infinite;
}

.music-code-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.code-boxes {
  display: flex;
  gap: 14px;
}

.code-digit {
  width: 60px;
  height: 70px;

  background: black;
  border: 2px solid #00ff9f;
  color: #00ff9f;

  font-family: 'IBM Plex Mono', monospace;
  font-size: 32px;
  text-align: center;

  box-shadow:
    inset 0 0 12px rgba(0,255,159,0.15),
    0 0 12px rgba(0,255,159,0.2);

  outline: none;
}

.code-digit:focus {
  box-shadow:
    0 0 18px rgba(0,255,159,0.7);
}

.fixed-digit {
  color: #ff2a2a;
  border-color: #ff2a2a;
  box-shadow:
    inset 0 0 12px rgba(255,42,42,0.15),
    0 0 12px rgba(255,42,42,0.25);
}

.track {
  display: flex;
  justify-content: center;
}

.track-btn {
  width: 320px;
  padding: 18px;

  background: rgba(0,0,0,0.8);
  border: 2px solid #00ff9f;
  color: #00ff9f;

  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;

  cursor: pointer;

  box-shadow:
    inset 0 0 20px rgba(0,255,159,0.08),
    0 0 12px rgba(0,255,159,0.15);

  transition: 0.2s ease;
}

.track-btn:hover {
  background: #00ff9f;
  color: black;
  box-shadow:
    0 0 20px rgba(0,255,159,0.5);
}

.tracks {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 30px;
}